// colors________________________

$white: #FFFFFF;
$bgWhite: #F1F1F1;
$darkGrey: #373E46;
$grey: #747474;
$lightGrey: #F1F1F1;
$lineGrey: #E6E6E6;
$vinous:#621F2A;
$lightVinous: #822736;


//----- text-colors--------------




// Gradients



// Shadows

